html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    border:0;
    font:inherit;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

html, body {background: #E5E4E2; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 16px; color: #000;}

.clear {clear: both;}

p {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: #444;
}

#cv {
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    background: white;
    margin: 30px auto;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.mainDetails {
    padding: 25px 35px;
    border-bottom: 2px solid #454545;
    background: whilte;
}

#name h1 {
    font-size: 2.5em;
    font-weight: 700;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    margin-bottom: -6px;
}

#name h2 {
    font-size: 2em;
    font-weight: 500;
    margin-left: 2px;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

#mainArea {
    padding: 0 40px;
}

#headshot {
    width: 15.5%;
    float: left;
    margin-right: 20px;
}

#headshot img {
    width: 100%;
    height: auto;
    -webkit-border-radius: 60px;
    border-radius: 50px;
}

#name {
    float: left;
}

#contactDetails {
    float: right;
}

#contactDetails ul {
    list-style-type: none;
    font-size: 0.9em;
    margin-top: 2px;
}

#contactDetails ul li {
    margin-bottom: 3px;
    color: #444;
}

#contactDetails ul li a, a[href^=tel] {
    color: #444; 
    text-decoration: none;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#contactDetails ul li a:hover { 
    color: #cf8a05;
}


section {
    border-top: 1px solid #dedede;
    padding: 20px 0 0;
}

section:first-child {
    border-top: 0;
}

section:last-child {
    padding: 20px 0 10px;
}

.sectionTitle {
    float: left;
    width: 20%;
}

.sectionContent {
    font-family: Georgia;
    float: right;
    width: 77.5%;
}

.sectionTitle h1 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    color: grey;
}

.sectionContent h2 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    margin-bottom: 4px;
    font-weight: bold;
}

.sectionContent h3 {
    font-size: 1.1em;
    margin-bottom: 4px;
    font-weight: bold;
    /* font-style: italic; */
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.sectionContent h4 {
    font-size: 1em;
    margin-left: 2px;
    font-style: italic;
    font-family: Arial, sans-serif;
}

.subDetails {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 3px;
}

.keySkills {
    list-style-type: none;
    -moz-column-count:3;
    -webkit-column-count:3;
    column-count:3;
    margin-bottom: 20px;
    font-size: 1em;
    color: #444;
}

.keySkills ul li {
    margin-bottom: 3px;
}


.topLink {
	text-align: center;
	padding-bottom: 20px;
}

.topLink a {
	color: #bbb;
	text-decoration: none;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

.topLink a:hover {
	color: #888;
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#headshot {
		display: none;
	}
	
	.keySkills {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	}
}

@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
	
	#headshot {
		display: none;
	}
	
	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}
	
	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}
	
	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}
	
	.keySkills {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}
	
	.section {
		padding: 15px 0 0;
	}
	
	#mainArea {
		padding: 0 25px;
	}

	
	.keySkills {
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	}
	
	#name h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
}

@media print {
    #cv {
        width: 100%;
    }
	  
	.topLink {
		display: none;
	}
}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* More style definion for jump-bar */
/*
body {
    background-color: #dddddd ;
    padding: 20px; 
    font-family: Georgia;
    color: #333333 ;
}*/

div.module {
    width: 560px ;
    background: white ;
    margin-left: auto ;
    margin-right: auto ;
    margin-bottom: 20px ;
    padding: 20px ;
    padding-left: 40px ;
    padding-right: 40px ;
    border-radius: 9px ;
    -moz-border-radius: 9px ;
    -o-box-shadow: 0 5px 5px #333333 ;
    -webkit-box-shadow: 0 5px 5px #333333 ;
    -moz-box-shadow: 0 5px 5px #333333 ;
    box-shadow: 0 5px 5px #333333 ;
}

ul.jump-bar {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;;
    margin-right: 0px;;
    padding-left: 0px ;
    padding-right: 0px ;
}

ul.jump-bar li {
    display: inline ;
    font-weight: bold;
}

li {
    margin-top: 0.3em;
    margin-bottom: 0.3em; 
}
